<div class="container" id="orchestratorStatus">
	<div class="card">
		<div class="card-header">
			Status
		</div>
		<div class="card-body">
			<table class="status-table status-table-primary table">
			</table>
			<table class="status-table status-table-raft table">
			</table>
		</div>
		<div class="card-footer">
		</div>
	</div>
</div>

<script src="{{.prefix}}/js/status.js?v={{.assetVersion}}"></script>
